<div class="container-fluid">
  <div class="row" style="background-color: lightblue">
    <hr>
    <h1 style="font-style:oblique;">MATERIALS</h1>
  </div>
  <br>
  <div class="row">
    <li><a style="font-size: 20px" routerLink="/faculty/presentation">Faculty presentations</a></li>
    <br>
    <br>
    <li><a style="font-size: 20px" routerLink="/faculty/facultyvideos">Faculty Videos</a></li>
    <br>
    <br>
    <li><a style="font-size: 20px" routerLink="/faculty/papers">Previous-year papers</a></li>
  </div>
</div>