<mat-nav-list>
    <div class="logo py-4">
      <img src="https://seeklogo.com/images/V/vcc-logo-4A0CAC057B-seeklogo.com.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 style="font-size: 15px" matSubheader class="mt-3">APPLICATIONS</h2>
  
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/Fees">
      <mat-icon>Fees</mat-icon> Fees
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/BatchAllocation"> <mat-icon>Batchs</mat-icon> Batch Allocation </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/StudentMarks"> <mat-icon>Student</mat-icon>Student Marks </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/LeaveApp"> <mat-icon>notes</mat-icon>Leave Application</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/timetable"> <mat-icon>Timetable</mat-icon> Time Table </a>

  </mat-nav-list>