<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand mb-0 h1">
            <img src="https://scontent.famd6-1.fna.fbcdn.net/v/t1.18169-9/17634309_1830506077215932_5971006511660422793_n.png?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=bN1-zVbqrcAAX_zIAYv&_nc_ht=scontent.famd6-1.fna&oh=00_AT8UFmPiroYNBIJQcVd9H5WV6GuwJP4_1ZLIthJI2dkGXA&oe=631E1AC0"
                width="30" height="30" alt="">
            VCC POINT
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav ms-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>&nbsp;&nbsp;
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-success">
                    Login
                </button>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg"
                class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel -->
<hr color="dark-blue" size="10">
<!-- introduction -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="https://instituteofcoaching.org/sites/default/files/styles/ioc_latest/public/peer%20coaching_4x3.jpg?itok=gy-Izyhq"
                class="img-fluid" style="border-radius: 10px;" alt="">
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title" style="color: rgb(4, 35, 207)">INTRODUCTION</h5>
                </div>
                <div class="card-body">
                    <p class="card-text" style="font-style: italic;">VCC POINT Coaching Classes provides a mature environment where sound work
                        ethics,
                        self-discipline and acquisition of independent learning skills are fostered. Staff is deeply
                        committed to the academic progress and welfare of students and all students are encouraged to
                        interact closely with their teachers and seek help at any time. There is a positive learning
                        environment where students will constantly get a chance achieve their best and have a strong
                        sense of identification.
                        <br>
                        <br>
                        The Classes aims to develop students who have a passion for life a desire to reach their full
                        potential and to have a life long love of learning. To play your role effectively we at Swastik
                        Coaching classes strive habits, attitude and values.

                        My good wishes for a successful future to all.
                    </p>
                    <br>
                    ~ Mr.Dharm Kanda
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-success" type="button">Read More</button>
                </div>
            </div>

        </div>
    </div>