<mat-nav-list>
    <div class="logo py-4">
      <img src="https://seeklogo.com/images/V/vcc-logo-4A0CAC057B-seeklogo.com.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 style="font-size: 15px" matSubheader class="mt-3">APPLICATIONS</h2>
  
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/student/attendance">
      <mat-icon>report</mat-icon> Attendance
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/student/assignment"> <mat-icon>assignment</mat-icon> Assignment </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/student/materials"> <mat-icon>work</mat-icon> Materials </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/student/leaveapp"> <mat-icon>notes</mat-icon>Leave Application</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/student/Fees-Details"> <mat-icon>Timetable</mat-icon> Time Table </a>

  </mat-nav-list>